<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod deserunt obcaecati quas, dicta eveniet accusamus quia excepturi expedita voluptatum odio quidem velit ipsum, dolorem consequatur cum. Debitis assumenda ipsum iusto? Perferendis quod amet reiciendis.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus molestias ex esse asperiores, reprehenderit voluptate enim placeat facere optio excepturi magni blanditiis dolor dolore doloremque doloribus est omnis quo sed ea neque, consequatur quis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, accusamus assumenda. Architecto, labore perspiciatis libero ut dicta optio magni, qui, adipisci nisi repellat voluptatum exercitationem officia ipsam eaque corporis molestiae hic? Hic, reiciendis ut!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>